<!-- Material form register -->
<br><br><br>
<div class="col-sm-4 offset-sm-4 text-center">
  <mdb-card>

    <mdb-card-header class="blue white-text text-center py-4">
      <h5>
        <strong>Log Complaints</strong>
      </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">

      <!-- Form -->
      <form [formGroup]="logComplaintForm"class="text-center" style="color: #757575;" (ngSubmit)="onSubmit()">

        <div class="form-row">
          <div class="col">
            <!-- Equipment name -->
            <div class="md-form">
              <input  formControlName="equipmentName" type="text" class="form-control" mdbInput>
              <label for="materialRegisterFormEquipmentName">Equipment Name </label>
              <mdb-error *ngIf="submitted && form.equipmentName.errors">Equipment name should not be empty</mdb-error>
            </div>
          </div>
        </div>

        <!-- Equipment fault -->
        <div class="md-form mt-0">
          <textarea type="text"  formControlName="equipmentFault" class="form-control md-textarea" rows="1" mdbInput></textarea>
          <label for="materialRegisterFormEquipmentFault">Equipment Fault</label>
          <mdb-error *ngIf="submitted && form.equipmentFault.errors">Equipment fault should not be empty</mdb-error>
        </div>

        <!--Image input-->
        <div class="md-form mt-0">
            <label >Equipment Image</label><br><br>
            <span style="color:red;" *ngIf="message">{{message}}</span>
            <input #file type="file" accept='image/*' style="float:left; color:primary" (change)="preview(file.files)" /><br><br>
            <img src="assets/images/upload-icon.png" style="float:center" height="50" *ngIf="!imgURL">
            <img [src]="imgURL"style="float:center" height="200" *ngIf="imgURL">
        </div>

        <!-- Location input -->
        <div class="md-form mt-0">
            <label >Your Location</label><br><br>
              <agm-map
                [latitude]="lat"
                [longitude]="lng"
                [zoom]="zoom"
                [disableDefaultUI]="false"
                [zoomControl]="false"
                (mapClick)="mapClicked($event)">

                <agm-marker
                    *ngFor="let m of markers; let i = index"
                    (markerClick)="clickedMarker(m.label, i)"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    [label]="m.label"
                    [markerDraggable]="m.draggable"
                    (dragEnd)="markerDragEnd(m, $event)">

                </agm-marker>

              </agm-map>
        </div>

        <!-- Phone number -->
        <div class="md-form">
          <input type="text"  formControlName="phone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"mdbInput [ngClass]="{ 'mdb-error': submitted && form.phone.errors}">
          <label for="materialRegisterFormPhone">Phone number</label>
          <div *ngIf="submitted && form.phone.errors">
              <mdb-error *ngIf="submitted && form.phone.errors.required">Phone number should not be empty</mdb-error>
              <mdb-error *ngIf="submitted && form.phone.errors.pattern">Phone number should only contains digits</mdb-error>
          </div>
        </div>

        <!-- Address -->
        <div class="md-form">
          <textarea  formControlName="address" type="text" id="form75" class="form-control md-textarea" rows="3" mdbInput></textarea>
          <label for="materialRegisterFormAddress">Address</label>
          </div>

        <!-- Log Complaint button -->
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
          type="submit">Add Complaint</button>

        <!--Notify staff-->
        <button (click)="notifyStaff()" type="button" mdbBtn color="primary" mdbWavesEffect>Notify Staff</button>
      </form>
      <!-- Form -->

    </mdb-card-body>

  </mdb-card>
  <!-- Material form register -->
</div>
