<!-- Material form register -->
<br><br><br>
<div class="col-sm-4 offset-sm-4 text-center">
  <mdb-card>

    <mdb-card-header class="blue white-text text-center py-4">
      <h5>
        <strong>Sign up</strong>
      </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">

      <!-- Form -->
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()"  class="text-center" style="color: #757575;">
        <div class="form-row">
          <div class="col">
            <!-- First name -->
            <div class="md-form">
              <input type="text" formControlName="firstName" class="form-control" mdbInput>
              <label for="materialRegisterFormFirstName"><mdb-icon fas icon="male"></mdb-icon> First name</label>
            </div>
          </div>
          <div class="col">
            <!-- Last name -->
            <div class="md-form">
              <input type="text" formControlName="lastName" class="form-control" mdbInput>
              <label for="materialRegisterFormLastName"><mdb-icon fas icon="male"></mdb-icon> Last name</label>
            </div>
          </div>
        </div>

        <!-- E-mail -->
        <div class="md-form mt-0">
            <input type="email" formControlName="email" class="form-control" mdbInput>
            <label for="materialRegisterFormEmail"><mdb-icon fas icon="at"></mdb-icon> E-mail</label>
        </div>

        <!--Nic-->
        <div class="md-form mt-0">
          <input type="text" formControlName="nic" class="form-control" mdbInput>
          <label for="materialRegisterFormEmail"><mdb-icon fas icon="address-card"></mdb-icon> NIC</label>
        </div>

        <!-- Phone number -->
        <div class="md-form">
          <input type="text" formControlName="phone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"
            mdbInput>
          <label for="materialRegisterFormPhone"><mdb-icon fas icon="mobile"></mdb-icon> Phone number</label>
        </div>

        <!-- Password -->
        <div class="md-form">
          <input type="password" formControlName="password" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
            mdbInput>
          <label for="materialRegisterFormPassword"><mdb-icon fas icon="unlock"></mdb-icon> Password</label>
          <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
          </small>
        </div>

        <!-- Sign up button -->
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
          type="submit">Sign in</button>

      </form>
      <!-- Form -->
    </mdb-card-body>

  </mdb-card>
  <!-- Material form register -->
</div>
