<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src="assets/images/staff-allocated-complaints.jpg" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>View Allocated Complaints</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text> View their allocated complaints.
          </mdb-card-text>
      
          <a routerLink="/staffDash/viewAllocatedComplaints" mdbBtn color="primary" mdbWavesEffect>View Allocated Complaints</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-sm">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src="assets/images/staff-create-job-ticket.jpg" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>Create Job Ticket</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text> Create job ticket.
          </mdb-card-text>
      
          <a href="/customerDash/viewComplaints" mdbBtn color="primary" mdbWavesEffect>Create Job Ticket</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-sm">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src="assets/images/staff-edit-details.jpg" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>Edit Staff Details</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text> Changing Contact Details

          </mdb-card-text>
      
          <a routerLink="/staffDash/editDetails"  mdbBtn color="primary" mdbWavesEffect>Edit Details</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
