<br><br><br>

<div class="col-sm-8 offset-sm-2 text-center">
    <mdb-card class="text-white" bgColor="bg-primary">
      <mdb-card-body>
        <h4>Staff Member Allocated Complaint Log</h4>
      </mdb-card-body>
    </mdb-card>
</div>

<br><br>
<div class="row">
  <div class="col-sm-3 offset-sm-1">
      <button type="button" mdbBtn color="primary" class="float-center waves-light" (click)="viewAllComplaints()" mdbWavesEffect>All Complaints</button>
  </div>
  <div class="col-sm-2 offset-sm-5">
      <button type="button" mdbBtn color="primary" class="float-center waves-light" (click)="findModal.show()" mdbWavesEffect>Find Complaint</button>
  </div>
</div>

<br><br>

<div class="col-sm-12 offset-sm-0 text-center">
    <mdb-card>
      <mdb-card-body>
          <table mdbTable hover="true" mdbTable striped="true">
            <thead class="primary-color white-text">
              <tr>
                <th *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let el of elements ; let i=index">
                <th>{{i+1}}</th>
                <td>{{el.refferenceNumber}}</td>
                <td>{{el.customer.firstName +" "+el.customer.lastName}}</td>
                <td>{{el.equipmentName}}</td>
                <td>{{el.equipmentFault}}</td>
                <td>{{el.customer.phone}}</td>
                <td>{{el.date}}</td>
                <td><button id={{i}} mdbBtn color="primary" outline="true" size="sm" mdbWavesEffect type="button" class="m-0" (click)="[basicModal.show(),setImageSrc($event)]">View Image</button></td>
                <td><button id={{i}} mdbBtn color="primary" outline="true" size="sm" mdbWavesEffect type="button" class="m-0" (click)="[frame.show(),setSelectedElement($event)]">Add/View Report</button></td>
              </tr>
            </tbody>
          </table>
      </mdb-card-body>
    </mdb-card>
</div>

<div mdbModal #basicModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-center modal-sucess" id="myModalLabel">Equipment Image</h4>
      </div>
      <div class="modal-body">
        <img style="float:center" height="200" [src]="imagePath" *ngIf=imagePath>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #frame class="modal fade " id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Report</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
            <i class="fas fa-calendar-alt prefix grey-text"></i>
            <input type="text" id="orangeForm-date" [formControl]="date" class="form-control validate" mdbInput>
            <label data-error="wrong" data-success="right" for="orangeForm-name">Date</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-clock prefix grey-text"></i>
          <input type="text" id="orangeForm-startTime"  [formControl]="startTime" class="form-control validate" mdbInput>
          <label data-error="wrong" data-success="right" for="orangeForm-name">Start Time</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-clock prefix grey-text"></i>
          <input type="email" id="orangeForm-endTime"  [formControl]="endTime" class="form-control validate" mdbInput>
          <label data-error="wrong" data-success="right" for="orangeForm-email">End Time</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-money-bill-alt prefix grey-text"></i>
          <input type="text" id="orangeForm-cost"  [formControl]="cost" class="form-control validate" mdbInput>
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Cost</label>
        </div>

        <div class="md-form mb-5">
            <i class="fas fa-tasks prefix grey-text"></i>
            <input type="text" id="orangeForm-jobTicket"  [formControl]="jobTicket" class="form-control validate" mdbInput>
            <label data-error="wrong" data-success="right" for="orangeForm-name">Job Ticket</label>
          </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button id={{i}} mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="addReport()">Add Report </button>
      </div>
    </div>
  </div>
</div>

<div mdbModal #findModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="findModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100 font-weight-bold text-center" id="myModalLabel">View Complaint</h4>
        </div>
        <div class="modal-body">
          <div class="md-form">
            <div class="form-row">
              <div class="col-8">
                  <input mdbInput type="text" id="form1" [formControl]="refferenceNumber" class="form-control" onfocus="this.value=''">
                  <label for="form1" class=""><mdb-icon far icon="address-card"></mdb-icon> Refference Number </label>
              </div>
              <div class="col-4">
                  <button type="button" mdbBtn color="primary" class="float-right waves-light" mdbWavesEffect (click)="findComplaint()">Find</button>
              </div>
                
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>


