<!--The content below is only a placeholder and can be replaced.-->
<!-- As a heading -->
<mdb-navbar SideClass="navbar blue">
    <mdb-navbar-brand><span class="navbar-brand text-white float-lg-left">Tech Help</span></mdb-navbar-brand>
</mdb-navbar>


<router-outlet></router-outlet>
<div style="height: 363px"></div>

<!-- Footer -->
<footer class="page-footer font-small blue" >

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3"style="background-color: #2196f3 ">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/angular/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->


  


