<br><br><br><br>
<div class="col-sm-4 offset-sm-4 text-center">
  <mdb-card>

    <mdb-card-header class="blue white-text text-center py-4">
      <h5>
        <strong>Edit Customer Details</strong>
      </h5>
    </mdb-card-header>

    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">

      <!-- Form -->
      <form [formGroup]="editCustomerDetailsForm" (ngSubmit)="onSubmit()" class="text-center" style="color: #757575;">

        <div class="form-row">
          <div class="col">
            <!-- First name -->
            <div class="md-form">
              <input type="text" formControlName="firstName" class="form-control" mdbInput>
              <label for="materialRegisterFormFirstName"><mdb-icon fas icon="male"></mdb-icon> First name</label>
              <mdb-error *ngIf="submitted && form.firstName.errors">First name should not be empty</mdb-error>
            </div>
          </div>
          <div class="col">
            <!-- Last name -->
            <div class="md-form">
              <input type="text" formControlName="lastName" class="form-control" mdbInput> 
              <label for="materialRegisterFormLastName"><mdb-icon fas icon="male"></mdb-icon> Last name</label>
              <mdb-error *ngIf="submitted && form.lastName.errors">Last name should not be empty</mdb-error>
            </div>
          </div>
        </div>

        <!-- E-mail -->
        <div class="md-form mt-0">
          <input type="email" formControlName="email" class="form-control" mdbInput  [ngClass]="{ 'mdb-error': submitted && form.email.errors}">
          <div *ngIf="submitted && form.email.errors">
            <mdb-error *ngIf="submitted && form.email.errors.required">Email address should not be empty</mdb-error>
            <mdb-error *ngIf="submitted && form.email.errors.email">Invalid email address</mdb-error>
          </div>
        </div>

        <!-- Phone number -->
        <div class="md-form">
          <input type="text" formControlName="phone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"mdbInput  [ngClass]="{ 'mdb-error': submitted && form.phone.errors}">
          <label for="materialRegisterFormPhone"><mdb-icon fas icon="mobile"></mdb-icon> Phone number</label>
          <div *ngIf="submitted && form.phone.errors">
              <mdb-error *ngIf="submitted && form.phone.errors.required">Phone number should not be empty</mdb-error>
              <mdb-error *ngIf="submitted && form.phone.errors.pattern">Phone number should only contains digits</mdb-error>
          </div>
        </div>

        <!-- Sign up button -->
        <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
          type="submit">Edit Customer Details</button>

      </form>

      <div #alert *ngIf="getSuccess()"class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="alert-heading">Successfull!</h4>
          <p>You have succesfully edited your personally data.</p>
        </div>
      <!-- Form -->

    </mdb-card-body>

  </mdb-card>
  
  
</div>