<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src="assets/images/customer-complaints.jpg" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>Unallocated Complaints</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text> View All Unallocated Complaints.
          </mdb-card-text>
      
          <a href=# mdbBtn color="primary" mdbWavesEffect>View Unallocated Complaints</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-sm">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src="assets/images/admin-statistics.jpg" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>View Annual Statistics</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text> View Annual Statistics
          </mdb-card-text>
      
          <a routerLink="/adminDash/viewStatistics" mdbBtn color="primary" mdbWavesEffect>View Statistics</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-sm">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src="assets/images/cutomer-edit-details.jpg" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>Staff Registration</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text> Adding New Staff Members

          </mdb-card-text>
      
          <a href=# mdbBtn color="primary" mdbWavesEffect>Staff Registration</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
